<div>
    <nav class="menu">
        <article class="head">MY PORTFOLIO</article>
        <ul>
            <li><a href="#">GALLERY</a></li>
            <li><a href="#">PROJECTS</a></li>
            <li><a href="#">CONTACT ME</a></li>
            <li><a href="#">ABOUT ME</a></li>
            <li><a href="#">HOME</a></li>
        </ul>
    </nav>
</div>
<div class="sqr">
<img class="sqr-1" src="assets/IMG_8396.jpg" alt="image">
<img class="sqr-2" src="assets/image_square_2.png" alt="image">
</div>